.favorite-shop-view-container{
    margin-bottom: 50px;
    margin-top: 100px;
}

.favorite-shop-view-card-col{
    margin-bottom: 30px !important;
}

.favorite-shop-view-card-container{
    margin-bottom: 15px;
    justify-content: center;
}

#empty-result-favorite-shop{
    background-color:rgba(255, 255, 255, 0.8);
    padding-top:50px;
    padding-bottom:50px;
    text-align:center;
    display:block;
    font-family:Comic, cursive, sans-serif,'Trebuchet MS', Helvetica, sans-serif; 
    font-weight:bold;
    border-radius:8px;
}